
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.App {
  text-align: center;
}

main {
  display: flex;
  height: 100vh;
}


.main-content {
  background-color: #fff;
}

/* SIDEBAR */

.sidebar {
  background: #FAFAFA;
  width: 20%;
}

.sidebar a {
  text-decoration: none;
  color: #6A6A6A;
}

.sidebar li {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  padding-left: 20%;
  text-align: start;
  margin-bottom: 40px;
}

.sidebar ul .opt1 {
  margin-top: 60px;
  font-weight: bold;
}

/* AVATAR */


.image-avatar {
  width: 90px;
  height: 90px;
  margin-top: 85px;
  border-radius: 45px;
}

.subtitle {
  margin-top: 15px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #727272;
}

.subinfo {
  margin-top: 5px;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #727272;
}

/* OPTIONS */



/* MAIN */

.main-content {
  padding: 0px 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.content-down {
  flex: 3.3;
}

/* RESUME */

.content-up {
  flex: 1;
  display: flex;
  column-gap: 40px;
  align-items: center;
}
/* divs */

.resume-box {
  background-color: #FAFAFA;
  display: flex;
  flex: 1;
  column-gap: 80px;
  padding: 18px 30px;
  width: 250px;
  height: 90px;
  border-radius: 15px;
}

.text-content {
  text-align: start;
}

.icon-space {
  text-align: center;
  justify-content: center;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

/* content */

.title--up {
  height: 35px;
  margin-top: 100px;
}

.main-content h2 {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #555555;
  text-align: start;

}
.title--number {
  color: #595959;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.title--text {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #A5A5A5;
}

.icon-space img{
  margin-top: 14px;
}


/* */











