
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

main {
  display: flex;
  height: 100vh;
}

a{
  text-decoration: none;
}

.main-content {
  background-color: #fff;
}

.link {
  font-weight: normal;
}

.link-active{
  font-weight: bold;
}



/* SIDEBAR */

.sidebar, .sidebar-opened {
  background: #FAFAFA;
  width: 20%;
  height: 100vh;
  text-align: center;
  transition: all .300s ease;
}


.sidebar a, .sidebar-opened a {
  text-decoration: none;
  color: #6A6A6A;
}

.sidebar li, .sidebar-opened li {
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  padding-left: 20%;
  text-align: start;
  margin-bottom: 40px;
}

.sidebar ul li:first-child, .sidebar-opened ul li:first-child {
  margin-top: 60px;
}


/* AVATAR */


.image-avatar {
  width: 90px;
  height: 90px;
  margin-top: 85px;
  border-radius: 45px;
}

.subtitle {
  margin-top: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #727272;
}

.subinfo {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #727272;
}

/* OPTIONS */



/* MAIN */

.main-content {
  padding: 0px 140px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.main-courses {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  
}

.content-down {
  flex: 3.3;
  display: flex;
  column-gap: 40px;
}

/* RESUME */

.content-up {
  flex: 1;
  display: flex;
  column-gap: 40px;
  row-gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
/* divs */

.resume-box {
  background-color: #FAFAFA;
  display: flex;
  flex: 1;
  padding: 18px 30px;
  height: 90px;
  border-radius: 15px;
}

.resume-box:hover {
  box-shadow: 1px 1px 5px #dddddd;
}

.text-content {
  text-align: start;
  flex: 3.5;
}

.icon-content {
  flex: 1;
}

.icon-space {
  text-align: center;
  justify-content: center;
  background-color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

/* content */

.title--up {
  height: 35px;
  margin-top: 100px;
}
.title--down {
  margin-bottom: 30px;
}

.title--up, .title--down, .title--course {
  font-style: normal;
  font-weight: 550;
  font-size: 26px;
  line-height: 35px;
  color: #555555;
  text-align: start;
}

.title--number {
  color: #595959;
  font-style: normal;
  font-weight: 550;
  font-size: 24px;
  line-height: 33px;
}

.title--text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A5A5A5;
  width: 150px;
}

.icon-space img{
  margin-top: 14px;
}


/* Activities*/

.main-courses a{
  flex: 1;

}

/* divs */

.activities {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 275px;
  max-width: 360px;
}

.image-course {
  flex: 3;
  border-radius: 20px 20px 0px 0px;
}

.text-course {
  flex: 1.5;
  font-style: normal;
  border-radius: 0 0 20px 20px;
  background-color: #FAFAFA;
  padding: 5% 10%;
}

img:hover {
  box-shadow: 2px 2px 10px #d8e7e5;
}
.text-course:hover {
  box-shadow: 1px 1px 5px #dddddd;
}

/* content */

.image-course img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0px 0px;
}

.text-course p{
  text-align: start;
  width: 270px;

} 
.text-course--1 {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #737373;
}

.text-course--2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #4B4B4B;
  text-align: start;
  margin-top: 7px
}

.text-course--3 {
  margin-top: 11px;
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  color: #8E8E8E;
}


/* COURSES SCREEN */

/* divs */

.course-screen {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  row-gap: 30px;
}
.class-info {
  height: 60px;
  display: flex;
}

.class-info-1 {
  flex: 3;
}

.class-info-2 {
  flex: 1;
  display: flex;
  min-width: 210px;
  column-gap: 8px;
}

/* content */

.title--course {
  min-width: 640px;
  max-height: 50px;
}

.title--class {
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #737373;
}

.image--teacher {
  margin-top: 5px;
  width: 50px;
  border-radius: 25px;
}

.class-info-2 h2 {
  margin-top: 5px;
}

.icon svg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  left: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px ) {
  .main-content { 
    width: 100%;
  }
}
@media screen and (max-width: 830px) {
  .main-content .title--up, .title--down {
    margin-left:  20%;
    margin-right:  10%;
  }
  .content-down {
    flex-direction: column;
    row-gap: 20px;
    max-height: 480px;
  }
  .text-course {
    padding: 10px 25px;
  }
  .resume-box {
    max-width: none;
    width: 100%;
    flex-grow: 1;
    transition: all .300s ease;
  }
  .activities {
    max-width: none;
    align-self: center;
    transition: all .300s ease;
  }
  .activities .image-course img {
    max-height: 140px;
  }  
  .content-up {
    justify-content: center;
  }
  .main-courses, .main-content h1 {
    flex-direction: column;
    row-gap: 30px;
    min-width: 320px;
  }
  .title--up {
    margin-top: 10%;
  }
  .title--down {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  /* COURSES SCREEN */
  .class-info .title--course {
    padding: 0;
  }
  .class-info{
    flex-direction: column;
    min-height: 100px;
    align-self: center;
  }
  .image--teacher {
    width: 40px;
    border-radius: 20px;
    margin-top: 10px;
  }
  .title--course {
    padding: 0;
    align-self: center;
  }

}
@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
    min-width: 200px;
    transition: all .300s ease;
  }
  .sidebar-opened {
    display: block;
    min-width: 200px;
    transition: all .300s ease;
  }
  .icon svg {
    position: absolute;
    display: block;
    transition: all .300s ease;
  }
}

@media screen and (max-width: 1200px){
  .resume-box {
    max-width: 310px;
  }
  .activities {
    max-width: 310px;
  }
  h2.title--up { 
   margin-bottom: 20px;
  }
  .title--down {
    margin-top: 20px;
  }
  .up {
    margin-top: 100px;
  }
  /* COURSES SCREEN */
  .class-info .subtitle {
    font-size: 16px;
  }
  .class-info .title--class {
    font-size: 14px;
  }
  .class-info .subinfo {
    font-size: 12px;
  }
  .course-screen .title--course, .title--up, .title--down  {
    font-size: 22px;
  }
  .title--course {
    min-width: 300px;
  }
  .class-info-1 {
    flex: 2;
  }  
}
@media screen and (max-width: 1500px){
  .main-content {
    padding: 0px 50px;
    transition: all .5s ease;
  }
}